PORT=5678
N8N_PORT=5678
N8N_LISTEN_ADDRESS=0.0.0.0
N8N_HOST=TU-DOMINIO
N8N_PROTOCOL=https
N8N_EDITOR_BASE_URL=https://TU-DOMINIO
WEBHOOK_URL=https://TU-DOMINIO/
N8N_ENCRYPTION_KEY=CAMBIAR_POR_UNA_CLAVE_LARGA_DE_32_CARACTERES_O_MAS
GENERIC_TIMEZONE=America/Argentina/Buenos_Aires
TZ=America/Argentina/Buenos_Aires
N8N_SECURE_COOKIE=true
N8N_DIAGNOSTICS_ENABLED=false
N8N_VERSION_NOTIFICATIONS_ENABLED=true
